/* CSS reset */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 16px/1.25 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}
main, li {
  display: block;
}
h1, h2, h3, h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a, button {
  color: inherit;
  transition: .3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*:focus {
  outline: 0;
}*/
img {
  height: auto;
  border: 0;
}

/* Site CSS */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 2.2rem;
}

body.modal-open {
  overflow: hidden;
  margin-right: 17px;
}

h1, h2, h3 {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
h1, h2, .text-headline-font {
  font-family: 'Changa One', cursive;
}
h1 {
  margin: 0;
}
h2 {
 color: #000;
 font-size: 1.6rem;
}

iframe {
  display: block;
}

section:nth-child(3), section:nth-child(4) {
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover, auto;
}
section:nth-child(3) {
  background-image:
    radial-gradient(farthest-corner at 50% 100%, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.9) 100%), 
    url(/static/media/space.png);
}
section:nth-child(4) {
  background-image:
    radial-gradient(farthest-corner at 50% 0, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.9) 100%),
    url(/static/media/space.png);
}

.full-width {
  width: 100%;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-large {
  font-size: 1.75rem;
}

.text-small {
  font-size: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:hover, .btn:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.bold {
  font-weight: bold;
}

.box {
  border: 3px #777 solid;
  margin: 5% 5%;
  padding: 5% 5%;
}

  .padded, .padded-md {
    max-width: 1320px;
    margin: 0 auto;
  }
  .padded {
    padding: 2rem 5%;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  @media screen and (max-width: 639px) {

    body {
      padding-top: 4em;
    }

  }

  @media screen and (min-width: 640px) {

    .padded-md {
      padding: 2rem 5%;
    }

  }